{% load index_template %}
<form action="{% block checkout_form_action_url %}{% url 'onboarding' %}{% endblock %}" method="post">

  {% csrf_token %}
  <div class="alert alert-info" role="alert">
    <h5>UMichigan Onboarding</h5>

    <p>
      Use this form to ensure you have access to use the University of Michigan ARC resources.
    </p>

  </div>

  <div class="form-group">
    <h5>Guest Collection</h5>
    <label for="source_col">Choose a guest collection below to use for data storage</label>

    {% for collection in guest_collections %} 
    <div class="form-check">
        <input class="form-check-input" type="radio" name="guest_collection" id="guest_collection" value="{{collection.id}}">
        <label class="form-check-label" for="guest_collection">
          {{collection.display_name}}
        </label>
    </div>

    {% endfor %} 
    <hr>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="guest_collection" id="guest_collection" value="create_new">
        <label class="form-check-label" for="guest_collection">
          Create New Guest Collection
        </label>
    </div>

  </div>

  <button id="onboarding-submit"
          type="submit"
          class="btn mb-2 btn-primary"
          aria-describedby="transfer-submit-help-block-{{concierge_manifest.id}}"
  >Submit
  </button>
</form>