{% extends 'globus-portal-framework/v2/base.html' %}


{% block body %}

<div class="row">
    <div class="col">
      <h2 class="text-center">{{project_title}}</h2>
    </div>
  </div>
  
  <div class="row mb-5">
    <div class="col"></div>
    <div class="col-10">
      <div>
        <h1 class="text-center">{%block checkout_title%}Michigan Onboarding{%endblock%}</h1>
        <div class="card">
          <div class="card-body">
            You have completed the Onboarding Form, thank you!
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>


{% endblock %} 